<div class="center jumbotron">
  <h1>Welcome to the Flock App</h1>

  <h2>
    This is the home page for the Flock Coding Challenge by Calvin Gomez
  </h2>

  <%= link_to "Employee Login", login_path, class: "btn btn-lg btn-primary" %>
</div>