<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Activity Name</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.id, employee  %></td>
          <td><%= link_to employee.name, employee %></td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>