<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @employee.name %>
        <% if @employee.admin?  %>
            (Admin)
        <% end  %>
      </h1>
    </section>
  </aside>
</div>
<% if !admin_access? %>
  <div class="row">
    <div class="container">
        <%= link_to @next_activity, activity_new_path, :method=> :post, class: "activity-btn btn btn-primary" %>
    </div>
  </div>
<% end  %>
<div class="row">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Employee</th>
          <th scope="col">Activity</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= link_to activity['name'], employee_path(activity['id']) %></td>
            <td><%= activity['check_in'] %></td>
            <td><%= activity['updated_at'] %></td>
          </tr>
        <% end  %>
      </tbody>
    </table>
  </div>
</div>