<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in?  %>
      <%= link_to "Flock App", current_employee, id: "logo" %>
    <%  else %>
      <%= link_to "Flock App", root_path, id: "logo" %>
    <%  end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in?  %>
          <% if current_employee.admin?  %>
            <li><%= link_to "View Employees", '/employees' %></li>
            <li><%= link_to "View Activity", current_employee %></li>
          <% end  %>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% else  %>
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <%  end %>
      </ul>
    </nav>
  </div>
</header>